.alerta{

    color: #fff;
    padding: .5rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin: 1rem 0;
    &.error{
        background-color: rgba(232, 6, 6, 0.868);
    }
    &.exito{
        background-color: rgb(4, 171, 4);
    }
}